@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.RPL-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B7EBF7;
    font-family: "Amiri", serif;
}

.Arrow{
    width: 65px;
    height: 55px;
}

.RPL-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    text-align: center;
    font-size: 72px;
}
.RPL-title h1{ width: 60%;}

.RPL-Edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    position: relative;
}

.RPL-Edit div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.RPL-Edit div .search-btn{
    font-family:sans-serif;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 32px;
    text-align: right; 
    direction: rtl; 
    text-indent: 10px; 
    box-sizing: border-box;
    outline: none;
}



.table-container {
    width: 80%;
    height: 75%;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    border: solid 1px #D3D3D3;
}

th {
    width: 200px;
    height: 78px;
}

.table-wrapper {
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper thead tr {
    background-color: #14B6DA;
    font-size: 36px;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
}

.table-wrapper tbody {
    font-size: 36px;
}

.table-wrapper tbody tr {
    height: 65px;
    text-align: center;
}

.table-wrapper tbody tr {
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

.table-wrapper tbody tr:last-child {
    border-bottom: none;
}

.table-wrapper tbody tr:hover {
    background-color: rgb(227, 227, 235);
    cursor: default;
}

@media screen and (max-width: 1400px) {
    .RPL-title{font-size: 50px;}
    .table-container{height: 420px;}
    .Arrow{left: 4%;}
}
