.nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.nav .icon img{
    width: 200px;
    height: 200px;
}
.menu{
    display: flex;
    margin: 20px 0;
    
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    flex-direction: row-reverse;
}
.menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: large;
    font-weight:bold;
    width: 150px;
    height: 40px;
    background-color: rgba(20, 182, 218, 1);
    border-radius: 10px;
}

.nav .right-menu {
   
display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.nav .right-menu img{
    cursor: pointer;
    width: 50px;
    height: 50px;
}